<footer class="bg-dark">
  <div class="container pb-1 pb-lg-5">
    <div class="row content-space-t-2">
      <div class="col-lg-3 mb-7 mb-lg-0">
        <div class="mb-5">
          <a class="navbar-brand" href="/" aria-label="EcoSense">
            <strong>EcoSense</strong>
          </a>
        </div>
      
      </div>

      <div class="col-sm mb-7 mb-sm-0">
        <h5 class="text-white mb-3">Ecosense</h5>

        <ul class="list-unstyled list-py-1 mb-0">
          <li><a class="link-sm link-light" href="#">About</a></li>
          <li><a class="link-sm link-light" href="#">Github</a></li>
        </ul>
      </div>

      <div class="col-sm mb-7 mb-sm-0">
        <h5 class="text-white mb-3">Features</h5>

        <ul class="list-unstyled list-py-1 mb-0">      
          <li><a class="link-sm link-light" href="#">API Reference</li>
            <li><a class="link-sm link-light" href="#">Docs</a></li>
        </ul>
      </div>

      <div class="col-sm">
        <h5 class="text-white mb-3">Documentation</h5>

        <ul class="list-unstyled list-py-1 mb-0">
          <li><a class="link-sm link-light" href="#"><i class="bi-question-circle-fill me-1"></i> Help</a></li>
          <li><a class="link-sm link-light" href="#"><i class="bi-person-circle me-1"></i> Your Account</a></li>
        </ul>
      </div>
      <!-- End Col -->

      <div class="col-sm">
        <h5 class="text-white mb-3">Resources</h5>
        <ul class="list-unstyled list-py-1 mb-5">
          <li><a class="link-sm link-light" href="#">Privacy Policy</a></li>
          <li><a class="link-sm link-light" href="#">Terms of Service</li>
        </ul>
      </div>
    </div>

    <div class="border-top border-white-10 my-7"></div>
    <div class="w-md-85 text-lg-center mx-lg-auto">
      <p class="text-white-50 small">&copy; EcoSense. 2022. All rights reserved.</p>
  </div>
    <!-- End Copyright -->
  </div>
  </footer>